{% extends 'base.html' %}

{% block title %} newstudent {% endblock %}
{% block main %}
<a href="{% url 'home' %}">home</a>
    <form method="post" action="">
        {% csrf_token %}
        <h1>Create a Record</h1>
        <div>
            <div>Name: </div>
            <div><input name="name" type="text" required></div>
        </div>
        <div>
            <div>Registration Number:</div>
            <div><input name="Registration" type="text"></div</div>
                <div>
                    <div>Age:</div>
                    <div><input name="age" type="number"></div>
                </div>
                <div>
                    <div>cgpa:</div>
                    <div><input name="cgpa" type="text"></div>
                </div>
                <div>
                    <div>Date Joined: </div>
                    <div><input name="datejoined" type="date"></div>
                </div>
                <button>Register</button>
    </form>

{% endblock %}